.image{
    height:40em; background-size:cover; width:auto;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ__xClIRtBafZ_Xy2Z-7uvUXpv6KzEQ9WjbA&usqp=CAU');
    background-position:50% 50%;
  }